streamlit==1.40.1
openai-whisper==20240930
moviepy==1.0.3
googletrans==3.0.0
pandas==2.2.3
numpy==2.0.2
python-dotenv==1.0.1
Pillow==10.4.0
watchdog==4.0.1
torch==2.5.1
imageio==2.36.0
imageio-ffmpeg==0.5.1
tqdm==4.67.0
